body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #0066cc;
}

p {
  color: #444;
  font-size: 18px;
}
.whatsapp-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #25D366;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
}

.whatsapp-btn:hover {
  background-color: #1ebc5a;
}
